/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* Primary */
  --strong-cyan: hsl(172, 67%, 45%);

  /* Neutral */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-greyish-cyan: hsl(186, 14%, 43%);
  --greyish-cyan: hsl(184, 14%, 56%);
  --light-cyan: hsl(173, 61%, 77%);
  --light-greyish-cyan: hsl(185, 41%, 84%);
  --very-light-greyish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --error-red: hsl(13, 70%, 61%);
}

body {
  background-color: var(--light-greyish-cyan);
  font-family: "Space Mono", system-ui;
  color: var(--dark-greyish-cyan);

  /* centering content vertically and horizontally*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h2 {
  font-size: 1rem;
}

p,
label {
  font-weight: 700;
}

/* Logo */
.logo {
  margin-bottom: 2em;
}

/* Tip calc container */
.tip-calc-container,
.tip-total-container {
  background-color: var(--white);
  width: 100%;
  min-width: 375px;
  padding: 1em;
}

.tip-calc-container {
  border-radius: 25px 25px 0 0;
}

.tip-calc-container p {
  margin-bottom: 0.5em;
}

.tip-percent-container {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
}

.tip-btn,
.custom-tip-btn {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.3em 0;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  /* Make tip buttons and custom-tip-btn the same width across all devices */
  width: 100%;
}

.tip-btn:hover {
  background-color: var(--light-cyan);
  border: 2px solid var(--light-cyan);
  color: var(--very-dark-cyan);
}

.custom-tip-btn {
  background-color: var(--very-light-greyish-cyan);
  text-align: center;
  color: var(--very-dark-cyan);
}

.custom-tip-btn:hover {
  border: 2px solid var(--strong-cyan);
}

/* Input fields */
.bill-input,
.people-input {
  background: var(--very-light-greyish-cyan);
  border: none;
  /* removing default border */
  outline: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.5em 0;
  color: var(--greyish-cyan);
  margin-bottom: 1em;

  padding-right: 10px;
  background-repeat: no-repeat;
  /* center on the same line */
  background-position: 10px center;
  /* Number 0 right-aligned */
  text-align: right;
}

.bill-input {
  background-image: url("images/icon-dollar.svg");
}

.people-input {
  background-image: url("images/icon-person.svg");
}

.custom-tip-btn {
  outline: none;
}

.bill-input:focus,
.people-input:focus,
.custom-tip-btn:focus {
  border: 2px solid var(--strong-cyan);
}

.bill-input:focus::placeholder,
.people-input:focus::placeholder,
.custom-tip-btn:focus::placeholder {
  color: transparent;
}

/* Tip total container */
.tip-total-container {
  border-radius: 0 0 25px 25px;
}

.tip-background {
  background-color: var(--very-dark-cyan);
  border-radius: 15px;
  padding: 2em;
}

.tip-calc-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.tip-title {
  color: var(--white);
}
.per-person {
  display: block;
  color: var(--very-light-greyish-cyan);
  font-size: 0.8rem;
}

.calc {
  color: var(--strong-cyan);
  font-size: 1.8rem;
}

.reset-btn {
  width: 100%;
  text-transform: uppercase;
  background: var(--strong-cyan);
  font-weight: 700;
  color: var(--very-dark-cyan);
  filter: contrast(120%);
  border-radius: 5px;
  padding: 0.5em 0;
  border: none;
  margin-top: 0.5em;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.reset-btn:hover {
  background: var(--light-cyan);
  border: 2px solid var(--light-cyan);
}

/* UI error displays */

/* Right-align the error messages to the label titles */
.bill-label,
.people-label {
  display: flex;
  justify-content: space-between;
}

.bill-error-msg,
.people-error-msg {
  color: var(--error-red);
  font-size: 0.9rem;
}

@media (width >= 1024px) {
  .flex {
    display: flex;
    justify-content: center;
  }

  .tip-calc-container,
  .tip-total-container {
    min-width: 500px;
    max-width: 30%;
  }

  .tip-calc-container {
    border-radius: 25px 0 0 25px;
  }

  .tip-total-container {
    border-radius: 0 25px 25px 0;
  }

  .tip-percent-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
